# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
sandbox/
# Databases (Local/Testing)
*.sqlite
*.sqlite3
*.db

# Docker
idg-tool-server
.dockerignore
**.tar
**.tar.gz

# Environment / Secrets
.env
secrets.json

# OS specific
.DS_Store
Thumbs.db
